 main.encounterbody{
  position:fixed;
  top:10vh;
  width:calc(100vw + 20px);
  height:82vh;
  background-color: black;
  color:#aaaaaa;
  overflow:auto;
  display:flex;
  flex-direction: column;
  align-items: center;
}

 table.encountermembers {
  margin:0;
  width:100vw;
} 

table.encountermembers tr{
  width:95vw;
}

table.encountermembers th.viewLink,td.viewLink{
  width:calc(12.5vw + 3px);
  padding:0;
  margin:0;
}

table.encountermembers th.name,td.name{
  width:30vw;
  margin:0;
  padding:0;
}

table.encountermembers th.init,td.init{
  width:10vw;
  margin:0;
  padding:0;
}

table.encountermembers th.ac,td.ac {
  width:10vw;
  margin:0;
  padding:0;
}

table.encountermembers th.hp,td.hp {
  width: 15vw;
  margin:0;
  padding:0;
}

table.encountermembers th.buttons,td.buttons {
  width:calc(12.5vw + 3px);
  margin:0;
  padding:0;

}

table.encountermembers a.viewLink {
  width:12.5vw;
  height:5vh;
  border:0;
  padding:0;
}

table.encountermembers td {
  margin-left:1px;
  padding:5px;
  text-align: center;
}

button.editButton,button.viewLink,button.saveEdit {
  border:1px solid #444444;
  width:12.5vw;
  height:5vh;
  font-weight: 600;
  background-color: #b40a0a;
  color: #aaaaaa;
  text-shadow:-1px -1px 0 #444444, 1px 1px 0 #444444,1px -1px 0 #444444, -1px 1px 0 #444444;
}

/*Edit Stylings*/

#editname,#editinit,#editac,#edithp,#editbuttons {
  padding:0;
}

textarea.pcname {
  width:20vw;
  margin:0;
  word-wrap: normal;
}

input.initiative {
  width:8vw;
  margin:0;
}

input.ac {
  width:8vw;
  margin:0;
}

input.hp,input.hpmax {
  width:10vw;
  max-width:60px;
  margin:0;
}

button.saveEdit {
  height: 64.78px;
}