* {
  box-sizing: border-box;
}

.container {
  margin:0;
  width:97vw;
  display:flex;
  flex-direction: column;
  align-items: center;
}

.detailheader {
  position:absolute;
  top:0;
  left:0;
  width:97vw;
  height:7.5vh;
  display:flex;
  justify-content: space-between;
  align-items: center;
  margin:0.5vw;
  padding:5px;
  border: 1px solid black
}

.detailmain {
  position:absolute;
  top:7.5vh;
  text-align: center;
  padding:20px;
  display:flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.stats {
  display:flex;
  justify-content: center;
  align-items: center;
}

.statscore {
  margin-right:50px;
}

.stats * {
  border:1px solid black;
}

.actions {
  width:70vw;
  margin:0;
}

.actions p,h1,h4{
  margin:0
}

.actions h4 {
  margin-top: 10px;
}