* {
  box-sizing: border-box;
}

.typeheader {
  border: 1px solid black;
  padding:5px;
  margin-bottom:5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h4.type{
  margin:0;
}

.typeheader p {
  margin:0;
  padding:10px;
  font-size: medium;
  font-weight: 800;
}

ul.type{
  list-style-type: none;
  margin:0;
}

.monster{
  border:1px solid black;
  padding:5px;
  margin-bottom:5px;
}