* {
  box-sizing: border-box;
}

.container {
  height:96vh;
  width:97vw;
  display:flex;
  justify-content: center;
  align-items: center;
}

form {
  width:fit-content;
  padding:15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border:1px black solid;
}

label,input {
  display:block;
  margin-bottom: 10px;
}

button {
  width:
}