* {
  box-sizing: border-box;
}

.inputSections {
  width:70vw;
  display:flex;
  justify-content: space-around;
  align-items: center;
}

.locations label {
  margin:0;
}

.tableBox {
  width:70vw;
  display:flex;
  justify-content: space-around;
  margin-top:2.5vh;
}

.tableBox th,td {
  border:1px solid black;
  padding:5px;
}

.tableBox ul {
  margin:0;
  padding-left:20px;
}